@import url("../../vendor/normalize.css");
@import url("../../vendor/fonts/inter/inter.css");


:root {
  --Middle-Gray-Blue: #B8C4DB;
  --Gray: #EAEEF4;
  --Dark: #2B2D35;
  --bia-gray-color-1: #7A7B85
}

.app {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  color: var(--Dark, #2B2D35)
}

.content {
  padding: 24px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: 500;
}

.light-font-color {
  color: var(--bia-gray-color-1, #7A7B85);
}

.outline-red {
  outline: 2px solid red;
  border-radius: 2px;
}

